{% black nav %}
    <!-- TOAST -->
    <div aria-live="polite" aria-atomic="true">
        <!-- Position it -->
        <div id="toastHolder" style="position: fixed; top: 30%; right: 10%;z-index: 1000;">
            <!-- TOASTS -->
        </div>
    </div>
    <!-- Main -->
    <div class="container h-100 mx-auto">
        <nav class="navbar navbar-expand-md navbar-dark bg-primary justify-content-center fixed-top my-auto">
            <a class="navbar-brand" href="url_for('home')">
                <span class="brand-mark" aria-hidden="true"></span>
                <div>
                    <h1>A.R.M. - Lite</h1>
                </div>
            </a>
        </nav>
    </div>
{% endblock %}