{% extends 'support/base_simple.html' %}
{% block content %}
    <div class="centered-login">
        <form id="form1" name="form1" method="post" action="login" style="width: 100%; max-width: 450px; margin: 0 auto;">
			{{ form.hidden_tag() }}
			<h3 class="row justify-content-center">Log In</h3>
			<div class="bordered-container justify-content-center mx-auto">
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text" id="usr">Username:</span>
					</div>
					<input type="text" class="form-control" aria-label="username" name="username" placeholder="username" value="" aria-describedby="usr">
					{% for error in form.username.errors %}
						<div class="text-danger">{{ error }}</div>
					{% endfor %}
				</div>
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text" id="basic-addon1">Password:</span>
					</div>
					<input type="password" class="form-control" name="password" aria-label="password" aria-describedby="basic-addon1">
					{% for error in form.password.errors %}
						<div class="text-danger">{{ error }}</div>
					{% endfor %}
				</div>
				<input class="form-control" name="save" value="save" hidden>
				<button class="btn btn-secondary btn-lg btn-block" form="form1" type="submit">Login</button>
			</div>
		</form>
    </div>
{% endblock %}